// START:: INCLUDING GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
// END:: INCLUDING GOOGLE FONT

// START:: VARIABLES
@import '../../variables.scss'; 
// END:: VARIABLES

// START:: MIXINS
@import '../../mixins.scss';
// END:: MIXINS

// START:: GLOBAL STYLES COLORING
.header_img_wraper {
  .overlay {
    background-color: rgba(45, 64, 89, 0.5);

    .intro_text_wraper {
      h1 {
        span {
          background-color: $corpColor2;
          &::after {
            border: 2px solid $corpColor2;
          }
        }
      }
    }
  }

  &.modern {
    .overlay {
      background-color: rgba(45, 64, 89, 0.5);
      .intro_text_wraper {
        h1 {
          span {
            background-color: transparent;
            color: $corpColor2;
          }
        }
      }
    }
  }
}
// END:: GLOBAL STYLES COLORING

// START:: LARGE SCREENS NAVBAR STYLES COLORING
nav {
  background-color: rgba(45, 64, 89, 0.5);

  &.stiky {
    background-color: rgba(45, 64, 89, 0.8);
  }

  &.profile_nav {
    background-color: $corpColor1;
  }

  // START:: NAV LINKS STYLE
  .nav-links {
    ul {
      li {
        position: relative;
        @include menuHoverEffect();
        &.active {
          a {
            color: $corpColor2;
          }
        }

        &:hover {
          a{
            color: $corpColor2;
          }
        }

        .dropdown_menu {
          background-color: $white;
          border-top: 2px solid $corpColor2;
          border-bottom: 2px solid $corpColor2;

          li {
            a {
              color: $corpColor1;
            }

            &:hover {
              a {
                color: $corpColor2;
              }
            }
          }
        }
      }
    }
  }
  // END:: NAV LINKS STYLE

  // START:: LANGUAGE BTN STYLE
  .lang-button {
    a {
      border: 2px solid $corpColor2;

      span {
        &.circle {
          background-color: $corpColor2;
        }
      }
    }
  }
  // END:: LANGUAGE BTN STYLE

  // START:: MENU TOGGLER BTN STYLE
  .menu_btn {
    svg {
      color: $corpColor2;
    }
  }
  // END:: MENU TOGGLER BTN STYLE
}
// END:: LARGE SCREENS NAVBAR STYLES COLORING

// START:: SMALL SCREENS MENU STYLES COLORING
.small_menu {
  .btn_box {
    button {
      svg {
        color: $corpColor1;
        &:hover {
          color: $midRed;
        }
      }
    }
  }

  ul {
    li {
      a {
        color: $corpColor1;
        &:hover {
          color: $corpColor2;
        }
      }

      .dropdown_menu {
        border-top: 2px solid $corpColor2;
        border-bottom: 2px solid $corpColor2;

        li {
          a {
            color: $corpColor1;
          }

          &:hover {
            a {
              color: $corpColor2;
            }
          }
        }
      }
    }
  }
}
// END:: SMALL SCREENS MENU STYLES COLORING

// START:: HOME SLIDER STYLES COLORING
.carousel {
  .carousel-indicators {
    li {
      &.active {
        background-color: $corpColor2;
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      .overlay {
        background-color: rgba(45, 64, 89, 0.5);

        .intro_text_wraper {
          h1 {
            span {
              background-color: $corpColor2;
              &::after {
                border: 2px solid $corpColor2;
              }
            }
          }
        }

        .btn_wraber {
          a {
            @include secondaryBtnStyle();
            color: $corpColor2;
            border: 2px solid $corpColor2;
            &:hover {
              background-color: $corpColor2;
            }
          }
        }
      }
    }
  }
}
// END:: HOME SLIDER STYLES COLORING

// START:: HOME PAGE ABOUT SECTION STYLES COLORING
.about_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .about_card_wraper {
    &:hover {
      .icon_wraper {
        span {
          border: 2px solid $corpColor2;
          background-color: $corpColor2;
        }
      }
    }

    .icon_wraper {
      span {
        border: 2px dashed $corpColor2;
        svg {
          color: $corpColor2;
        }
      }
    }

    .card_title_wraper {
      h4 {
        color: $corpColor1;
      }
    }
  }
}

.about_sec_index_2 {
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .row {
    .about_card_wraper {
      &::before,
      &::after {
        background-image: linear-gradient(to right, $corpColor1, $corpColor2);
      }

      .icon_wraper {
        span {
          svg {
            color: $corpColor2;
          }
        }
      }
  
      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
      }
    }
  }
}

.about_sec_one_page {
  .header_wraper {
    h2 {
      @include thirdHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        top: 0;
        left: 0;
        border-right: none; 
        border-bottom: none; 
        border-radius: 5px 0 0 0;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-left: none; 
        border-top: none; 
        border-radius: 0 0 5px 0;
      }
    }
  }

  .row {
    .about_card_wraper {
      .icon_wraper {
        span {
          &::after {
            background-color: $corpColor1;
          }
          svg {
            color: $corpColor2;
          }
        }
      }
  
      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
      }
    }
  }
}

.about_sec_modern {
  .container-fluid {
    .header_wraper {
      h2 {
        @include fourthHaederStyle();
        color: $corpColor2;
        &::before,
        &::after {
          border: 2px solid $corpColor1;
        }
        &::before {
          left: 0;
          border-right: none;
          border-bottom: none;
          border-radius: 5px 0 0 0;
        }
        &::after{
          right: 0;
          border-left: none;
          border-bottom: none;
          border-radius: 0 5px 0 0;
        }
        span {
          border: 2px solid $corpColor1;
          &:first-child {
            left: 0;
            bottom: 0;
            border-right: none;
            border-top: none;
            border-radius: 0 0 0 5px;
          }
          &:last-child {
            right: 0;
            bottom: 0;
            border-left: none;
            border-top: none;
            border-radius: 0 0 5px 0;
          }
        }
      }
    } 
  }

  .row {
    .about_card_wraper {
      border: 1px solid $corpColor2;

      &::after {
        border: 20px solid $corpColor2;
        border-top: 20px solid $white;
        border-right: 20px solid $white;
      }

      .icon_wraper {
        span {
          &::after {
            background-color: $corpColor1;
          }
          svg {
            color: $corpColor2;
          }
        }
      }

      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
      }
    }
  }
}
// END:: HOME PAGE ABOUT SECTION STYLES COLORING

// START:: ABOUT US SECTION 1&2 STYLES COLORING
.main_about_us {
  .header_wraper {
    h2, 
    h4 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .video_wraper {
    .overlay {
      background-color: rgba(54, 69, 71, 0.7);
    }
  }

  .service_card_wraper {
    .card_title_wraper {
      h4 {
        color: $corpColor1;
      }
    }
  }
}

.main_about_us_modern {
  .header_wraper {
    h2,
    h4 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .services{
    a {
      .service_card_wraper {
        .img_wraper {
          border: 2px solid $corpColor2;
          .overlay {
            background-color: rgba(234, 84, 85, 0.8);
          }
        }

        .card_title_wraper {
          h4 {
            color: $corpColor2;
          }
        }
      }
    }
  }
}
// END:: ABOUT US SECTION 1&2 STYLES COLORING

// START:: SERVICES SECTION STYLES COLORING
.services_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  a {
    .service_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }
      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include mainBtnStyle();
      color: $corpColor2;
      border: 2px solid $corpColor2;
    }
  }
}

.services_sec_index_2 {
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }

  a {
    .service_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }
  
      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}

.services_sec_one_page {
  position: relative;
  background-image: linear-gradient(to bottom, $corpColor1, $corpColor2);

  .overlay {
    a {
      .service_card_wraper {

        .img_wraper {
          border: 2px solid $corpColor2;
          .overlay {
            background-color: rgba(234, 84, 85, 0.8);
          }
        }
    
        .card_title_wraper {
          h4 {
            color: $corpColor2;
          }
        }
      }
    }
  }
}

.services_sec_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  a {
    .service_card_wraper {
      .img_wraper {
        border: 2px solid $corpColor2;
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }

      .card_title_wraper {
        h4 {
          color: $corpColor2;
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}
// END:: SERVICES SECTION STYLES COLORING

// START:: MAIN SERVICES SECTION STYLES COLORING
.main_services {
  .header_wraper {
    h2, 
    h5 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .heighlight_card_wraper {
    &:hover {
      .icon_wraper {
        span {
          border: 2px solid $corpColor2;
          background-color: $corpColor2;
        }
      }
    }

    .icon_wraper {
      span {
        border: 2px dashed $corpColor2;
        svg {
          color: $corpColor2;
        }
      }
    }

    .card_title_wraper {
      h4 {
        color: $corpColor1;
      }
    }
  }

  .wraper {
    .filter {
      .list-group {
        .list-group-item {
          &:hover {
            color: $corpColor2;
          }
        }
      }
    }
  }

  a {
    .service_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }

      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
      }
    }
  }
}

.all_services_modern {
  .header_wraper {
    h2,
    h5 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .heighlight_card_wraper {
    .icon_wraper {
      span {
        &::after {
          background-color: $corpColor1;
        }
        svg {
          color: $corpColor2;
        }
      }
    }

    .card_title_wraper {
      h4 {
        color: $corpColor1;
      }
    }
  }

  a {
    .service_card_wraper {
      .img_wraper {
        border: 2px solid $corpColor2;
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }
  
      .card_title_wraper {
        h4 {
          color: $corpColor2;
        }
      }
    }
  }
}
// END:: MAIN SERVICES SECTION STYLES COLORING

// START:: SERVICE DETAILS SCTION STYLE COLORING
.service_details {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }
}

.service_details_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 
}
// END:: SERVICE DETAILS SCTION STYLE COLORING

// START:: TEAM MEMBERS SECTION STYLES COLORING
.team_sec { 
  background-color: $corpColor1;
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $white;
      &::before {
        background-color: $corpColor2;
      }
      &::after {
        background-color: $white;
      }
    }
  }

  .member_card_wraper {
    .card_body {
      .info {
        h5 {
          color: $corpColor2;
        }
      }

      .social_links {
        li {
          a {
            &:hover {
              color: $corpColor2;
            }
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include mainBtnStyle();
      color: $corpColor2;
      border: 2px solid $corpColor2;
      &::before,
      &::after {
        background-color: $corpColor1;
      }
    }
  }
}

.team_sec_index_2 { 
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .member_card_wraper {
    .card_body {
      .info {
        h4 {
          color: $corpColor1;
        }
        h5 {
          color: $corpColor2;
        }
      }

      .social_links {
        li {

          a {
            color: $corpColor1;
            &:hover {
              color: $corpColor2;
            }
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}

.team_sec_one_page { 
  .header_wraper {
    h2 {
      @include thirdHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        top: 0;
        left: 0;
        border-right: none; 
        border-bottom: none; 
        border-radius: 5px 0 0 0;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-left: none; 
        border-top: none; 
        border-radius: 0 0 5px 0;
      }
    }
  }

  .member_card_wraper {
    .image_wraper {
      .overlay {
        background-image: linear-gradient(to bottom, rgba(43, 55, 56, 0.5), rgba(255, 131, 3, 0.8));
        .card_body {
          .social_links {

            li {
              a {
                &:hover {
                  color: $corpColor1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.team_sec_modern { 
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .member_card_wraper {
    &:hover {
      .image_wraper {
        img {
          border-bottom: 3px solid $corpColor2;
        }
      }
    }

    .image_wraper {
      .social_links {
        li {
          a {
            color: $corpColor1;
            &:hover {
              color: $corpColor2;
            }
          }
        }
      }
    }

    .card_body {
      text-align: center;
      .info {
        margin-top: 12px;
        opacity: 0;
        @include transitioning();
        h4 {
          color: $corpColor1;
        }
        h5 {
          color: $corpColor2;
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}
// END:: TEAM MEMBERS SECTION STYLES COLORING

// START:: ALL TEAM SECTION STYLES COLORING
.all_team_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .member_card_wraper {
    .card_body {
      .info {
        h4 {
          color: $corpColor1;
        }
        h5 {
          color: $corpColor2;
        }
      }

      .social_links {
        li {

          a {
            color: $corpColor1;
            &:hover {
              color: $corpColor2;
            }
          }
        }
      }
    }
  }
}

.all_team_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .member_card_wraper {
    &:hover {
      .image_wraper {
        img {
          border-bottom: 3px solid $corpColor2;
        }
      }
    }

    .image_wraper {
      .social_links {
        li {
          a {
            color: $corpColor1;
            &:hover {
              color: $corpColor2;
            }
          }
        }
      }
    }

    .card_body {
      text-align: center;
      .info {
        margin-top: 12px;
        opacity: 0;
        @include transitioning();
        h4 {
          color: $corpColor1;
        }
        h5 {
          color: $corpColor2;
        }
      }
    }
  }
}
// END:: ALL TEAM SECTION STYLES COLORING

// START:: PRODUCTS SECTION STYLES COLORING
.products_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .nav-pills {
    .nav-item {
      .nav-link {
        color: $corpColor1;
        &.active {
          background-color: $corpColor1;
        }
      }
    }
  }

  .tab-pane {
    a {
      .product_card_wraper {
        .card_title_wraper {
          h4 {
            color: $corpColor2;
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include mainBtnStyle();
      color: $corpColor2;
      border: 2px solid $corpColor2;
    }
  }
}

.products_sec_index_2 {
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .nav-pills {
    .nav-item {
      .nav-link {
        color: $corpColor1;
        &.active {
          background-image: linear-gradient(to right, $corpColor1, $corpColor2);
        }
      }
    }
  }

  .tab-pane {
    .product_card_wraper {
      .back_face {
        h4 {
          color: $corpColor1;
        }

        .price_wraper {
          span {
            &.price_after {
              color: $corpColor1;
            }
          }
        }

        .btn_wraper {
          @include flexCenterAlignment();
          a {
            @include secondBtnStyle();
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}

.products_sec_one_page {
  .header_wraper {
    h2 {
      @include thirdHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        top: 0;
        left: 0;
        border-right: none; 
        border-bottom: none; 
        border-radius: 5px 0 0 0;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-left: none; 
        border-top: none; 
        border-radius: 0 0 5px 0;
      }
    }
  }

  .nav-pills {
    .nav-item {
      .nav-link {
        color: $corpColor1;
        &.active {
          background-image: linear-gradient(to right, $corpColor1, $corpColor2);
        }
      }
    }
  }

  .tab-pane {
    .product_card_wraper {
      .back_face {
        background: url('../../../media/shapes/wave.svg');
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
        .btn_wraper {
          a {
            @include secondBtnStyle();
            color: $corpColor1;
            &::before {
              background-color: $corpColor1;
            }
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}

.products_sec_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .nav-pills {
    .nav-item {
      .nav-link {
        color: $corpColor1;
        &.active {
          background-image: linear-gradient(to right, $corpColor1, $corpColor2);
        }
      }
    }
  }

  .tab-pane {
    .product_card_wraper {
      .back_face {
        h4 {
          color: $corpColor1;
        }

        .btn_wraper {
          a {
            @include secondBtnStyle();
            color: $corpColor1;
            border: 2px solid $corpColor1;
            &::before {
              background-color: $corpColor1;
            }
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}
// END:: PRODUCTS SECTION STYLES COLORING

// START:: PRODUCT DETAILS SCTION STYLE COLORING
.product_details {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      .item {
        a {
          .product_card_wraper {
            .card_data_wraper {
              h4 {
                color: $corpColor2;
              }
            }
          }
        }
      }
    }
  }
}

.product_details_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 
}

.main_products_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .product_card_wraper {
    .overlay {
      h4 {
        color: $corpColor2;
      }

      .btn_wraper {
        a {
          @include secondBtnStyle();
          color: $corpColor2;
          border: 2px solid $corpColor2;
        
          &:hover {
            background-color: $corpColor2;
          }
        }
      }
    }
  }
}
// END:: PRODUCT DETAILS SCTION STYLE COLORING

// START:: PORTFOLIO SECTION STYLES COLORING
.portfolio_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .nav-pills {
    .nav-item {
      .nav-link {
        color: $corpColor1;
        &.active {
          background-color: $corpColor1;
        }
      }
    }
  }

  .tab-pane {
    .product_card_wraper {
      .back_face {
        h4 {
          color: $corpColor1;
        }

        .btn_wraper {
          a {
            @include secondBtnStyle();
            color: $corpColor2;
            border: 2px solid $corpColor2;
          
            &:hover {
              background-color: $corpColor2;
            }
          }
        }
      }
    }
  }
}

.portfolio_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .nav-pills {
    .nav-item {
      .nav-link {
        color: $corpColor1;
        &.active {
          background-image: linear-gradient(to right, $corpColor1, $corpColor2);
        }
      }
    }
  }

  .tab-pane {
    .product_card_wraper {
      .back_face {
        h4 {
          color: $corpColor1;
        }

        .btn_wraper {
          a {
            @include secondBtnStyle();
            color: $corpColor2;
            border: 2px solid $corpColor2;
          
            &:hover {
              background-color: $corpColor2;
            }
          }
        }
      }
    }
  }
}
// END:: PORTFOLIO SECTION STYLES COLORING

// START:: OUR CLIENTS SECTION STYLES COLORING
.our_clients_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }
}

.our_clients_sec_index_2 {
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.our_clients_sec_one_page {
  .header_wraper {
    h2 {
      @include thirdHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        top: 0;
        left: 0;
        border-right: none; 
        border-bottom: none; 
        border-radius: 5px 0 0 0;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-left: none; 
        border-top: none; 
        border-radius: 0 0 5px 0;
      }
    }
  }
}

.our_clients_sec_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 
}
// END:: OUR CLIENTS SECTION STYLES COLORING

// START:: TESTEMONILS SECTION STYLES COLORING
.testemonials {
  background-color: $corpColor1;
  .container {
    .header_wraper {
      h2 {
        @include mainHeaderStyle();
        color: $white;
        &::before {
          background-color: $white;
        }
        &::after {
          background-color: $corpColor2;
        }
      }
    }

    .owl-carousel {
      .item {
        .testemonial_card {
          border: 2px solid $corpColor1;
          &:hover {
            background-color: $corpColor2;
            box-shadow: 0 0 5px 2px $corpColor2;
          }
  
          .img_wraper {
            img {
              border-right: 2px solid $corpColor1;
              border-bottom: 2px solid $corpColor1;
            }
          }
  
          .card_body {
            h4 {
              color: $corpColor1;
            }
          }
        }
      }
    }
  }
}

.testemonials_index_2 {
  background: url('../../../media/shapes/client-shape2.png') $corpColor1;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right 0;
  .container {
    .header_wraper {
      h2 {
        @include secondHeaderStyle();
        color: $white;
        &::before {
          border: 2px solid $corpColor2;
          border-right: none;
        }
        &::after {
          border: 2px solid $corpColor2;
          border-left: none;
        }
      }
    }

    .owl-carousel {
      .item {
        .testemonial_card {
          background: url('../../../media/shapes/qutation.png') $white;
          background-position: 95% 85%;
          background-repeat: no-repeat;
          border: 2px solid $corpColor1;

          .img_wraper {
            img {
              border: 3px solid $corpColor2;
            }

            h5 {
              color: $corpColor1;
            }
          }
        }
      }
    }
  }
}

.testemonials_one_page {
  background-image: linear-gradient(to bottom, $corpColor1, $corpColor2);

  .container {
    .header_wraper {
      @include flexCenterAlignment();
      h2 {
        @include thirdHeaderStyle();
        color: $white;
        &::before,
        &::after {
          border: 2px solid $white;
        }
        &::before {
          border-right: none; 
          border-bottom: none; 
        }
        &::after{
          border-left: none; 
          border-top: none; 
        }
      }
    }

    .owl-carousel {
      .item {

        .testemonial_card {
          border: 2px solid $corpColor1;

          .img_wraper {
            img {
              border: 3px solid $corpColor2;
            }

            h5 {
              color: $corpColor1;
            }
          }
        }
      }
    }
  }
}

.testemonials_modern {
  .container {
    .header_wraper {
      h2 {
        @include fourthHaederStyle();
        color: $corpColor2;
        &::before,
        &::after {
          border: 2px solid $corpColor1;
        }
        &::before {
          left: 0;
          border-right: none;
          border-bottom: none;
          border-radius: 5px 0 0 0;
        }
        &::after{
          right: 0;
          border-left: none;
          border-bottom: none;
          border-radius: 0 5px 0 0;
        }
        span {
          border: 2px solid $corpColor1;
          &:first-child {
            left: 0;
            bottom: 0;
            border-right: none;
            border-top: none;
            border-radius: 0 0 0 5px;
          }
          &:last-child {
            right: 0;
            bottom: 0;
            border-left: none;
            border-top: none;
            border-radius: 0 0 5px 0;
          }
        }
      }
    } 

    .owl-carousel {
      .item {
        .testemonial_card {
          border: 2px solid $corpColor1;

          .img_wraper {
            img {
              border: 3px solid $corpColor2;
            }

            h5 {
              color: $corpColor1;
            }
          }
        }
      }
    }
  }
}
// END:: TESTEMONILS SECTION STYLES COLORING

// START:: FAQS SECTION STYLES COLORING
.faq_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .heighlight_faqs_wraper {
    .heighlight_faq_card {
      h3 {
        color: $corpColor2;
      }
    }
  }

  .faqs_wraper {
    .accordion {
      .card {
        .card-header {               
          h4 {
            button {
              color: $corpColor1;

              &[aria-expanded='true'] {
                background-image: linear-gradient(to right, $corpColor1, $corpColor2);
              }
            }
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include mainBtnStyle();
      color: $corpColor2;
      border: 2px solid $corpColor2;
    }
  }
}

.faq_sec_index_2 {
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .faqs_wraper {
    .accordion {
      .card {
        .card-header {               
          h4 {
            button {
              color: $corpColor1;

              &[aria-expanded='true'] {
                background-image: linear-gradient(to right, $corpColor1, $corpColor2);
              }
            }
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}

.faq_sec_one_page { 
  .header_wraper {
    h2 {
      @include thirdHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        top: 0;
        left: 0;
        border-right: none; 
        border-bottom: none; 
        border-radius: 5px 0 0 0;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-left: none; 
        border-top: none; 
        border-radius: 0 0 5px 0;
      }
    }
  }

  .heighlight_faqs_wraper {
    .heighlight_faq_card {
      h3 {
        color: $corpColor2;
      }
    }
  }

  .faqs_wraper {
    .accordion {
      .card {
        .card-header {                
          h4 {
            button {
              color: $corpColor1;
              &[aria-expanded='true'] {
                background-image: linear-gradient(to right, $corpColor1, $corpColor2);
              }
            }
          }
        }
      }
    }
  }
}

.faq_sec_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .heighlight_faqs_wraper {
    .heighlight_faq_card {
      h3 {
        color: $corpColor2;
      }
    }
  }

  .faqs_wraper {
    .accordion {
      .card {
        .card-header {               
          h4 {
            button {
              background-image: linear-gradient(to right, $corpColor1, $corpColor2);
              &[aria-expanded='true'] {
                color: $corpColor1;
                svg {
                  color: $corpColor2;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}
// END:: FAQS SECTION STYLES COLORING

// START:: MAIN FAQS SECTION STYLES
.main_faqs {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .faqs_wraper {
    .accordion {
      .card {
        .card-header {               
          h4 {
            button {
              color: $corpColor1;

              &[aria-expanded='true'] {
                background-image: linear-gradient(to right, $corpColor1, $corpColor2);
              }
            }
          }
        }
      }
    }
  }
}
// END:: MAIN FAQS SECTION STYLES

// START:: NEWS SECCTION STYLES
.news_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  a {
    .article_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }

      .card_title_wraper {
        h4, 
        h5 {
          color: $corpColor1;
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include mainBtnStyle();
      color: $corpColor2;
      border: 2px solid $corpColor2;
    }
  }
}

.news_sec_index_2 {
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }

  a {
    .article_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }
  
      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
        h6 {
          background-image: linear-gradient(to right, $corpColor1, $corpColor2);
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}

.news_sec_one_page {
  .header_wraper {
    h2 {
      @include thirdHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        top: 0;
        left: 0;
        border-right: none; 
        border-bottom: none; 
        border-radius: 5px 0 0 0;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-left: none; 
        border-top: none; 
        border-radius: 0 0 5px 0;
      }
    }
  }

  a {
    .article_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }

      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
        h6 {
          background-image: linear-gradient(to right, $corpColor1, $corpColor2);
        }
      }
    }
  }
}

.news_sec_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  a {
    .article_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }
  
      .card_title_wraper {
        h4 {
          color: $corpColor1;
        }
        h6 {
          background-image: linear-gradient(to right, $corpColor1, $corpColor2);
        }
      }
    }
  }

  .btn_wraper {
    a {
      @include secondBtnStyle();
      color: $corpColor1;
      border: 2px solid $corpColor1;
      &::before {
        background-color: $corpColor1;
      }
    }
  }
}
// END:: NEWS SECCTION STYLES

// START:: GLOG SECTION STYLES
.blog_sec {
  .header_wraper {
    h2, 
    h5 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .wraper {
    .list-group {
      .list-group-item {
        a {
          &:hover {
            color: $corpColor2;
          }
        }
      }
    }
  }

  a {
    .article_card_wraper {
      .img_wraper {
        .overlay {
          background-color: rgba(234, 84, 85, 0.8);
        }
      }
      .card_title_wraper {
        h4, 
        h5 {
          color: $corpColor1;
        }
      }
    }
  }
}

.blog_sec_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .article_wraper {
    .btn_wraper {
      a {
        @include secondBtnStyle();
        color: $corpColor1;
        border: 2px solid $corpColor1;
        &::before {
          background-color: $corpColor1;
        }
      }
    }
  }
}
// END:: GLOG SECTION STYLES

// START:: ARTICLE SECTION STYLES
.article_header_img_wraper {
  .overlay {
    background-color: rgba(45, 64, 89, 0.5);

    .intro_text_wraper {
      h1 {
        span {
          background-color: $corpColor2;
          &::after {
            border: 2px solid $corpColor2;
          }
        }
      }
    }
  }
}

.article_sec {
  .header_wraper {
    h4 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .wraper {
    .list-group {
      .list-group-item {
        a {
          &:hover {
            color: $corpColor2;
          }
        }
      }
    }
  }

  .articl_body {
    border-top: 1px solid $corpColor2;
    border-bottom: 1px solid $corpColor2;
  }
}

.article_header_img_wraper_modern {
  .overlay {
    background-color: rgba(45, 64, 89, 0.5);

    .intro_text_wraper {
      h1 {
        span {
          background-color: transparent;
          color: $singleColor4;
          &::after {
            border: 2px solid $singleColor4;
          }
        }
      }
    }
  }
}

.article_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .articl_body {
    border-bottom: 1px solid $corpColor2;
  }

  .owl-carousel {
    .item {
      a {
        .article_card_wraper {

          .img_wraper {
            .overlay {
              background-color: rgba(234, 84, 85, 0.8);
            }
          }
      
          .card_title_wraper {
            h4 {
              color: $corpColor1;
            }
            h6 {
              background-image: linear-gradient(to right, $corpColor1, $corpColor2);
            }
          }
        }
      }
    }
  }
}
// END:: ARTICLE SECTION STYLES

// START:: CONTACT US SECTION STYLES
.contact_us_sec {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .form_wraper {
    .header_wraper {
      h2 {
        @include mainHeaderStyle();
        color: $corpColor1;
        &::before {
          background-color: $corpColor2;
        }
      
        &::after {
          background-color: $corpColor1;
        }
      }
    }

    .form-group {
      span {
        svg {
          color: $corpColor2;
        }
      }
    }

    .btn_box {
      button {
        @include mainBtnStyle();
        color: $corpColor2;
        border: 2px solid $corpColor2;
      }
    }
  }
}

.contact_us_sec_index_2 {
  .header_wraper {
    h2 {
      @include secondHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none; 
        border-radius: 5px 0 0 5px;
      }
      &::after{
        right: 0;
        border-left: none; 
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .form_wraper {
    .header_wraper {
      h2 {
        @include mainHeaderStyle();
        color: $corpColor1;
        &::before {
          background-color: $corpColor2;
        }
      
        &::after {
          background-color: $corpColor1;
        }
      }
    }

    .form-group {
      span {
        svg {
          color: $corpColor2;
        }
      }
    }

    .btn_box {
      button {
        @include secondBtnStyle();
        background-color: transparent;
        border: 2px solid $corpColor2;
        color: $corpColor2;
        &::before {
          background-color: $corpColor2;
        }
      }
    }
  }
}

.contact_us_sec_one_page {
  .header_wraper {
    h2 {
      @include thirdHeaderStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        top: 0;
        left: 0;
        border-right: none; 
        border-bottom: none; 
        border-radius: 5px 0 0 0;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-left: none; 
        border-top: none; 
        border-radius: 0 0 5px 0;
      }
    }
  }

  .form_wraper {
    .form-group {
      span {
        svg {
          color: $corpColor2;
        }
      }
    }

    .btn_box {
      button {
        @include secondBtnStyle();
        background-color: transparent;
        border: 2px solid $corpColor2;
        color: $corpColor2;
        &::before {
          background-color: $corpColor2;
        }
      }
    }
  }
}

.contact_us_sec_modern {
  .header_wraper {
    h2 {
      @include fourthHaederStyle();
      color: $corpColor2;
      &::before,
      &::after {
        border: 2px solid $corpColor1;
      }
      &::before {
        left: 0;
        border-right: none;
        border-bottom: none;
        border-radius: 5px 0 0 0;
      }
      &::after{
        right: 0;
        border-left: none;
        border-bottom: none;
        border-radius: 0 5px 0 0;
      }
      span {
        border: 2px solid $corpColor1;
        &:first-child {
          left: 0;
          bottom: 0;
          border-right: none;
          border-top: none;
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          right: 0;
          bottom: 0;
          border-left: none;
          border-top: none;
          border-radius: 0 0 5px 0;
        }
      }
    }
  } 

  .form_wraper {
    .header_wraper {
      h2 {
        @include fourthHaederStyle();
        color: $corpColor2;
        &::before,
        &::after {
          border: 2px solid $corpColor1;
        }
        &::before {
          left: 0;
          border-right: none;
          border-bottom: none;
          border-radius: 5px 0 0 0;
        }
        &::after{
          right: 0;
          border-left: none;
          border-bottom: none;
          border-radius: 0 5px 0 0;
        }
        span {
          border: 2px solid $corpColor1;
          &:first-child {
            left: 0;
            bottom: 0;
            border-right: none;
            border-top: none;
            border-radius: 0 0 0 5px;
          }
          &:last-child {
            right: 0;
            bottom: 0;
            border-left: none;
            border-top: none;
            border-radius: 0 0 5px 0;
          }
        }
      }
    } 

    .form-group {
      span {
        svg {
          color: $corpColor2;
        }
      }
    }

    .btn_wraper {
      a {
        @include secondBtnStyle();
        color: $corpColor1;
        border: 2px solid $corpColor1;
        &::before {
          background-color: $corpColor1;
        }
      }
    }
  }
}
// END:: CONTACT US SECTION STYLES

// START:: CONTACT INFO SECTION STYLES
.contact_info {
  .card {
    span {
      svg {
        color: $corpColor2;
      }
    }

    h4 {
      color: $corpColor1;
    }

    h5 {
      color: $lightGrey;
    }
  }
}
// END:: CONTACT INFO SECTION STYLES

// START:: SHARE SECTION STYLES
.share {
  .header_wraper {
    h2 {
      @include mainHeaderStyle();
      color: $corpColor1;
      &::before {
        background-color: $corpColor2;
      }
    
      &::after {
        background-color: $corpColor1;
      }
    }
  }

  .form_wraper {
    form {
      .btn_box {
        button {
          @include mainBtnStyle();
          color: $corpColor2;
          border: 2px solid $corpColor2;
          padding: 6px 12px;
        }
      }
    }
  }
}
// END:: SHARE SECTION STYLES

// START:: BRANCHES SECTION STYLES
.branches_sec {
  .map_info_wraper {
    h3 {
      color: $corpColor1;
    }

    .map_text {
      ul {
        li {
          span {
            color: $corpColor2;
          }
        }
      }
    }
  }
}
// END:: BRANCHES SECTION STYLES

// START:: FOOTER STYLES
footer {

  background-color: $corpColor1;

  .short_cuts {
    a {
      &::before {
        background-color: $corpColor2;
      }
      &:hover {
        color: $corpColor2;
        &::before {
          left: 0;
        }
      }
    }
  }

  .get_in_touch {
    ul {
      li {
        svg {
          color: $corpColor2;
        }
      }
    }
  }

  .copy_rights {
    background-color: $deepBlue;
    span {
      a {
        color: $corpColor2;
      }
    }
  }

}
// END:: FOOTER STYLES