// START:: IMPORTING GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
// END:: IMPORTING GOOGLE FONT

// START:: VARIABLES
@import 'variables.scss';
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// body {
//   font-family: 'Tajawal', sans-serif !important;
// }

// START:: GLOBA AR STYLES
.form-check {
  padding-right: 1.25rem;
  .form-check-input {
    margin-right: -1.25rem;
  }
}
// END:: GLOBA AR STYLES

// START:: LARGE SCREENS NAVBAR AR STYLES
nav {
  // START:: LANGUAGE BTN STYLE
  .lang-button {
    a {
      span {
        font-size: 16px;
        &.en {
          display: none;
        }
        &.ar {
          display: inline-block;
          margin-bottom: 3px;
          margin-inline-start: 3px;
        }
      }
    }
  }
  // END:: LANGUAGE BTN STYLE
}
// END:: LARGE SCREENS NAVBAR AR STYLES

// START:: PAGES AR STYLES
.about_sec_modern {
  padding: $paddingAmount 0;
  background: url('../media/shapes/4.png');
  background-position: left 35%;
  background-repeat: no-repeat;
  .container-fluid {
    .sec_desc_wraper {
      .image_wraper {
        img {
          border-radius: 25px 0 0 25px;
          box-shadow: 40px 25px 0px 9px #e4e4e48f;
        }
      }
    }  
  }
}

.service_details_modern {
  .service_img_wraper {
    img {
      border-radius: 25px 0 0 25px;
      box-shadow: 40px 25px 0px 9px #e4e4e48f;
    }
  }
}

.product_details_modern {
  .product_img_wraper {
    img {
      border-radius: 25px 0 0 25px;
      box-shadow: 40px 25px 0px 9px #e4e4e48f;
    }
  }
}

.team_sec,
.all_team_sec  { 
  .member_card_wraper {
    .image_wraper {
      &::before {
        position: absolute;
        right: -20px;
        bottom: -20px;
      }

      &:hover {
        img {
          position: relative;
        }
        &::before {
          right: -10px;
          bottom: -10px;
        }
      }
    }
  }
}
// END:: PAGES AR STYLES