// START:: INCLUDING GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
// END:: INCLUDING GOOGLE FONT

// START:: VARIABLES
@import 'variables.scss'; 
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// START:: INDEX2 HOME SLIDER STYLES
.carousel {
  &.carousel_2 {
    background: url('../media/shapes/banner-15-bottom.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    .carousel-indicators {
      li {
        padding: 0;
        width: 13px;
        height: 13px;
        border: none;
        @include borderRadius(50%);
        &.active {
          width: 40px;
          background-color: $corpColor2;
          border: none;
          @include borderRadius(30px);
        }
      }
    }

    .carousel-inner {
      max-height: 800px;
      position: relative;
      .carousel-item {
        img {
          width: 100%;
          min-height: 800px;
          max-height: 800px;
        }
      }
    }
  }
}
// END:: INDEX2 HOME SLIDER STYLES