@mixin boxSizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

@mixin transitioning() {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@mixin borderRadius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -o-border-radius: $br;
  border-radius: $br;
}

@mixin menuHoverEffect {
  margin: 0 10px;
  font-size: 17px;
  a {
    text-decoration: none;
    color: $white;
    @include transitioning();
  }
  &.active {
    a {
      font-weight: bold;
    }
  }
}

@mixin mainBtnStyle {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: $corpColor2;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid $corpColor2;
  @include borderRadius(5px);
  padding: 10px 20px;
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 20%;
    height: 2px;
    background-color: $white;
    @include transitioning();
  }
  &::before {
    top: -2px;
    left: 10%;
  }
  &::after {
    bottom: -2px;
    right: 10%;
  }

  &:hover {
    &::before {
      left: 65%;
    }

    &::after {
      right: 65%;
    }
  }
}

@mixin secondBtnStyle {
  text-decoration: none;
  border: 2px solid $corpColor1;
  padding: 8px 16px;
  margin-top: 15px;
  color: $corpColor1;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  @include borderRadius(5px);
  @include transitioning();
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $corpColor1;
    z-index: -1;
    @include transitioning();
  }
  &:hover {
    color: $white;
    &::before {
      left: 0;
    }
  }
}

@mixin secondaryBtnStyle {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $white;
  color: $corpColor2;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid $corpColor2;
  @include borderRadius(5px);
  padding: 10px 20px;
  @include transitioning();

  &:hover {
    background-color: $corpColor2;
    color: $white;
  }
}

@mixin mainHeaderStyle {
  color: $corpColor1;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 3px;
  position: relative;
  padding-bottom: 10px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $corpColor2;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 4px;
    background-color: $corpColor1;
  }
}

@mixin secondHeaderStyle {
  padding: 8px 15px;
  position: relative;
  color: $corpColor2;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 20px;
    border: 2px solid $corpColor1;
  }
  &::before {
    left: 0;
    border-right: none; 
    border-radius: 5px 0 0 5px;
  }
  &::after{
    right: 0;
    border-left: none; 
    border-radius: 0 5px 5px 0;
  }
}

@mixin flexCenterAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexStartAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexEndAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin textWraper {
  word-break: break-word;
  word-spacing: 2px;
  font-size: 18px;
  color: $lightGrey;
  line-height: 1.6;
}

@mixin simpleShadow {
  box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.3);
}

@mixin midShadow {
  box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}