$corpColor1: #00334e;
$corpColor2: #ea5455;

$startUpColor1: #ff8303;
$startUpColor2: #323c3d;

$medicalColor1: #126e82;
$medicalColor2: #51c4d3;
$medicalColor3: #16c79a;

$singleColor1: #150f25;
$singleColor2: #7D4196;
$singleColor3: #271a4a;
$singleColor4: #FF449C;

$deepBlue: #00303f;
$lightBlue: #1044b9;
$lightCoffee: #d0af85;
$deepRed: #810000;
$midRed: #bb0808;
$lightRed: #dc4040;
$lightOrange: #ff7c00;
$lighterGrey: #c1c1c1;
$lightGrey: #666;
$darkGrey: #212121;
$white: #fff;


$paddingAmount: 50px;
$borderRadiusAmount: 10px;
$midBorderRadiusAmount: 20px;
$largeBorderRadiusAmount: 30px;